/* CSS-kokonaisharjoitus, osa 7 */

/* Aloita CSS:n kirjoittaminen tämän kommentin alta. */
html, body {
    height: 100%
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #111;
    color: #afafaf;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    min-height: 100vh;
}

h1, h2, h3, .brand, .eyebrow {
    color: #e78a53;
}

.site-header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #222222;
    padding: 8px 15px;
    border-bottom: 2px solid #e78a53;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.brand {
    font-weight: bold;
    text-decoration: none;
    color: #e78a53;
}
/* flexbox - nav list */
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.nav-list a {
    color: #cccccc;
    text-decoration: none;
    font-size: 0.9rem;
}

.nav-list a:hover,
.nav-list a[aria-current="page"] {
    color: #e6986b;
}

/* osioiden asettelu */
.hero, .content-section {
    padding: 20px 15px;
    text-align: center;
}

/* kortit flexboxilla */

/* flex container */
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* grid */
.card {
    position: relative;
    flex: 0 1 280px; /* kasvu, pienentyminen, koko */
    
    display: grid;
    grid-template-rows:auto 1fr auto; /* otsikko, leipäteksti ( venyy ) , painike */
    gap: 10px;
    
    background: #222;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: 20px 15px 15px 15px;
    text-align: left;
    overflow: hidden;
}

.card--featured {
    border-color: #e78a53;
}

.card__badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e78a53;
    color: #000000;
    padding: 2px 6px;
    font-weight: bold;
    border-radius: 3px;
    font-size: 0.8rem;
}

.button {
    justify-self: start; /* nappula ei veny */
    background: #e78a53;
    color: #000000;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 15px;
}

.button:hover {
    background: #e6986b;
}

.help-button {
    position: fixed;
    bottom: 65px;
    right: 5px;
    z-index: 110;
    margin: 2px;
    background: #e78a53;
    color: #111;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    border-top: 2px solid #e78a53;
    background-color: #222222;
    padding: 8px 15px;
    color: #afafaf;
    font-size: 0.85rem;
    text-align: center;
}

.site-footer a {
    color: #e78a53;
    text-decoration: none;
}

.skip-link { 
    display: none; 
}